.recommendWrapper {
  margin: 0 0 10px 0;
  width: 280px;
  margin-top: -4px;
}

.recommendWrapper .recommendItem {
  width: 100%;
  height: 50px;
  margin-bottom: 6px;
  border-radius: 4px;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
}