.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.homeContainer {
  width: 960px;
  margin: 0 auto;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.homeContainer .homeLeft {
  width: 625px;
  margin-left: 15px;
  padding-top: 30px;
  float: left;
}

.homeContainer .homeLeft .banner-img {
  width: 625px;
  height: 270px;
  border-radius: 6px;
}

.homeContainer .homeRight {
  width: 29.16667%;
  float: right;
  margin-left: 4.16667%;
  padding-top: 30px;
}

.homeContainer .backTop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
  transition: .2s ease-in;
}

.homeContainer .backTop:hover {
  background-color: rgb(231, 229, 229);
}

.homeContainer .backTop:hover::after {
  content: '回到顶部';
  color: #fff;
  display: block;
  position: absolute;
  left: -65px;
  top: 13px;
  background: #333;
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  border-radius: 5px;
  padding: 0 5px;
}
