.header {
  position: relative;
  height: 56px;
  border-bottom: 0.0625rem solid #f0f0f0;
}

.header .logo{
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}

/* !中间导航部分 */
.header nav {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  padding-right: 70px;
  box-sizing: border-box;
}

/* !section元素的样式 */
.header section{
  line-height: 56px;
  padding: 0 15px;
  font-size: 17px;
  color: #333;
}

.header .left {
  float: left;
}

.header .right {
  float: right;
  color: #969696;
}

.header .login {
  line-height: 56px;
  padding: 0 15px;
  font-size: 17px;
  cursor: pointer;
}

.header .logout {
  line-height: 56px;
  padding: 0 15px;
  font-size: 17px;
  cursor: pointer;
}

.header .active {
  color: #ea6f5a;
}


/* !搜索框样式 */
.header nav .search {
  float: left;
  position: relative;
}

.header nav .search input {
  color: #777;
  width: 180px;
  height: 38px;
  border: none;
  outline: none;
  border-radius: 19px;
  margin-top: 9px;
  padding:0 35px 0 20px;
  box-sizing: border-box;
  background: #eee;
  font-size: 14px;
  margin-left: 20px;    
  transition: width .7s ease;
}

.header nav .search input.focus {
  width: 15rem;
}

.header nav .search input::placeholder {
  color: #999;
}

.header nav .search .searchIcon {
  position: absolute;
  right: 0.3125rem;
  bottom: 0.3125rem;
  width: 1.875rem;
  line-height: 1.875rem;
  border-radius: 0.9375rem;
  text-align: center;
  color: #999;
  cursor: pointer;
}

.header nav .search .searchIcon.focus {
  background-color: #777;
  color: #fff;
}



.header nav .search .searchInfo {
  position: absolute;
  top: 3.5rem;
  left: 0;
  width: 15rem;
  padding: 0 1.25rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, .2);
  background: #fff ;
}

.header nav .search .searchInfo::before {
  content: '';
  position: absolute;
  left: 2.1875rem;
  top: -0.8125rem;
  border-width: 0.4375rem;
  border-style: solid;
  border-color: transparent transparent #fff transparent ;
}

.header nav .search .searchInfo .searchInfoTitle {
  margin-top: 1.25rem;
  margin-bottom: 0.9375rem;
  line-height: 1.25rem;
  font-size: 0.875rem;
  color: #969696;
}

.header nav .search .searchInfo .searchInfoTitle .searchInfoSwitch {
  float: right;
  font-size: 0.75rem;
  cursor: pointer;
}

.header nav .search .searchInfo .searchInfoTitle .searchInfoSwitch .spin {
  display: block;
  float: left;
  font-size: 0.75rem;
  margin-right: 0.125rem;
  transition: all .4s ease-in;
  transform-origin: center center;
}

.header nav .search .searchInfo .searchInfoList {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}

.header nav .search .searchInfo .searchInfoList .searchInfoItem {
  line-height: 1.25rem;
  padding: 0 0.3125rem;
  font-size: 0.75rem;
  border: 0.0625rem solid #ddd;
  color: #787878;
  border-radius: 0.1875rem;
  margin-right: 0.625rem;
  margin-bottom: 0.9375rem;
}


/* !注册以及写文章按钮 */
.header .addition {
  position: absolute;
  right: 0;
  top: 0;
  height: 3.5rem;
  margin-right: 20px;
}

.header .addition button {
  float: right;
  line-height: 2.375rem;
  border-radius: 1.1875rem;
  margin-top: 0.5625rem;
  border: 1px solid #ec6149;
  margin-right: 20px;
  padding: 0 1.25rem;
  font-size: 0.875rem;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}

.header .addition .reg {
  color: #ec6149;
}

.header .addition .writting {
  color: #fff;
  background-color: #ec6149;
}