.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.detailContainer {
  width: 100%;
  height: 100%;
  background-color: #f9f9f9;
  padding: 10px 0 10px 0;
}

.detailWrapper {
  width: 1019px;
  margin: 0 auto;
}

.detailWrapper .detailLeft {
  width: 730px;
  margin-left: 15px;
  padding: 30px;
  float: left;
  background-color: #fff;
  border-radius: 5px;
  box-sizing: border-box;
}

.detailWrapper .detailLeft .dl .title {
  font-size: 30px;
  line-height: 44px;
  color: #404040;
  font-weight: 700;
}

.detailWrapper .detailLeft .dl img {
  margin-top: 10px;
  width: 100%;
}

.detailWrapper .detailLeft .dl p {
  margin: 25px 0;
  font-size: 16px;
  line-height: 30px;
}


.detailWrapper .detailRight {
  width: 260px;
  float: right;
  margin-left: 0.16667%;
  padding: 0;
  background-color: #fff;
  text-align: center;
}



.detailWrapper .backTop {
  position: fixed;
  right: 40px;
  bottom: 40px;
  width: 50px;
  height: 50px;
  line-height: 60px;
  text-align: center;
  border: 1px solid #ccc;
  font-size: 14px;
  cursor: pointer;
  transition: .2s ease-in;
}

.detailWrapper .backTop:hover {
  background-color: rgb(231, 229, 229);
}

.detailWrapper .backTop:hover::after {
  content: '回到顶部';
  color: #fff;
  display: block;
  position: absolute;
  left: -65px;
  top: 13px;
  background: #333;
  height: 30px;
  font-size: 13px;
  line-height: 30px;
  border-radius: 5px;
  padding: 0 5px;
}
